@use "../global" as *;

.c-lower-mv {
  display: grid;
  place-items: center;
  min-height: rem(320);
  margin-top: rem(64);
  color: $white;
  text-align: center;
  background-color: #1b1b1b;

  @include mq(md) {
    min-height: rem(480);
    margin-top: rem(74);
  }
}

.c-lower-mv__content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.c-lower-mv__en {
  margin-top: rem(8);
  font-family: "Inter", $base-font-family;
  font-size: rem(16);
  font-weight: 600;
  line-height: 1.4;

  @include mq(md) {
    font-size: rem(20);
  }
}

.c-lower-mv__title {
  font-size: rem(28);
  font-weight: 700;
  line-height: 1.4;

  @include mq(md) {
    font-size: rem(42);
  }
}
