@use "../global" as *;

.p-advantage-culture {
  padding-top: rem(96);
  padding-bottom: rem(48);
  background-color: $white;

  @include mq(md) {
    padding-top: rem(156);
    padding-bottom: rem(112);
  }
}

.p-advantage-culture .l-inner {
  @include mq(md) {
    max-width: rem(1249);
  }
}

.p-advantage-culture__content {
  display: grid;
  gap: rem(32);

  @include mq(md) {
    grid-template-columns: minmax(0, rem(548)) minmax(0, rem(599));
    align-items: start;
    gap: rem(52);
  }
}

.p-advantage-culture__body {
  position: relative;
}

.p-advantage-culture__body::before {
  position: absolute;
  content: "01";
  font-size: rem(64);
  font-weight: 700;
  line-height: 0.78;
  color: #eaeaea;

  @include mq(md) {
    font-size: rem(128);
    left: 0;
    top: rem(-80);
  }
}

.p-advantage-culture__title {
  position: relative;
  display: inline;
  font-size: rem(20);
  font-weight: 700;
  line-height: 1.45;
  color: #000;
  background: linear-gradient(transparent 68%, $yellow 68%);

  @include mq(md) {
    font-size: rem(32);
    line-height: calc(59 / 32);
    margin-top: rem(-32);
  }
}

.p-advantage-culture__items {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(42);
  }
}

.p-advantage-culture__item+.p-advantage-culture__item {
  margin-top: rem(20);

  @include mq(md) {

    margin-top: rem(34);
  }
}

.p-advantage-culture__item-title {
  font-size: rem(16);
  font-weight: 700;
  line-height: 1.45;
  color: #000;

  @include mq(md) {
    font-size: rem(24);
    line-height: calc(59 / 24);
  }
}

.p-advantage-culture__text {
  margin-top: rem(10);
  font-size: rem(14);
  font-weight: 400;
  line-height: 1.9;
  color: #222;

  @include mq(md) {
    margin-top: 0;
    font-size: rem(16);
    line-height: calc(29 / 16);
  }
}

.p-advantage-culture__image {
  overflow: hidden;
  border-radius: rem(8);
  aspect-ratio: 599 / 402;
  background-color: #ddd;

  @include mq(md) {
    margin-top: rem(22);
  }
}

.p-advantage-culture__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
