@use "../global" as *;

.p-crosstalk-event-award {
  padding-top: rem(48);
  padding-bottom: rem(48);
  color: #222;
  background-color: $white;

  @include mq(md) {
    padding-top: rem(29);
    padding-bottom: rem(82);
  }
}

.p-crosstalk-event-award__head {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(24);

  @include mq(md) {
    grid-template-columns: minmax(0, rem(599)) minmax(0, rem(562));
    gap: rem(39);
    align-items: start;
  }
}
