@use "../global" as *;

.p-crosstalk-event-talk {
  padding-top: rem(48);
  padding-bottom: rem(48);
  color: #222;
  background-color: $white;

  @include mq(md) {
    padding-top: rem(28);
    padding-bottom: rem(82);
  }
}

.p-crosstalk-event-talk__head {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(24);

  @include mq(md) {
    grid-template-columns: minmax(0, rem(539)) minmax(0, rem(599));
    gap: rem(61);
    align-items: start;
  }
}
