@use "../global" as *;

.p-data-overview {
  padding-top: rem(56);
  padding-bottom: rem(72);
  color: $white;
  background-color: #1b1b1b;

  @include mq(md) {
    padding-top: rem(92);
    padding-bottom: rem(112);
  }
}

.p-data-overview__title {
  color: $white;
  font-size: rem(30);
  font-weight: 700;
  line-height: 1.45;
  text-align: center;

  @include mq(md) {
    font-size: rem(42);
  }
}

.p-data-overview__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(16);
  margin-top: rem(32);

  @include mq(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include mq(md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: rem(52) rem(63);
    margin-top: rem(62);
  }
}

.p-data-overview-card {
  display: grid;
  align-items: center;
  justify-items: center;
  min-width: 0;
  padding: rem(18) rem(14) rem(14);
  color: $white;
  text-align: center;
  background-color: #222;
  border: 2px solid $white;
  border-radius: rem(8);

  @include mq(md) {
    padding: rem(22) rem(4) rem(16);
    min-height: rem(358);
  }
}

.p-data-overview-card__title {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: clamp(rem(17), 5vw, rem(24));
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.05em;

  @include mq(md) {
    font-size: rem(32);
  }
}

.p-data-overview-card__icon {
  max-width: rem(300);
  margin-left: auto;
  margin-right: auto;
}

.p-data-overview-card__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}


.p-data-overview-card__value {
  grid-row: 3;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: rem(6);
  width: 100%;
  color: $white;
  font-weight: 700;
  line-height: 1;
  margin-top: rem(16);
}

.p-data-overview-card__number {
  font-size: clamp(rem(28), 8vw, rem(36));
  line-height: calc(28 / 36);
  letter-spacing: rem(-1);
}

.p-data-overview-card__unit {
  font-size: clamp(rem(16), 5vw, rem(24));
  line-height: calc(28 / 24);
  letter-spacing: rem(-1);
}

.p-data-overview-card__value--ranking {
  gap: rem(3);
}

.p-data-overview-card__value--vacation {
  flex-wrap: wrap;
  gap: rem(2) rem(4);
  max-width: rem(292);
  letter-spacing: rem(-1);
  line-height: calc(28 / 36);
}

.p-data-overview-card__value--event {
  gap: rem(3);
}

.p-data-overview-card__note {
  grid-row: 4;
  color: $white;
  font-size: rem(10);
  font-weight: 700;
  line-height: calc(28 / 16);
  letter-spacing: rem(-1);

  @include mq(md) {
    font-size: rem(16);
  }
}
