@use "../global" as *;

.p-top-message {
  padding-top: rem(48);
  padding-bottom: rem(48);
  overflow-x: clip;

  @include mq(md) {
    padding-top: rem(130);
    padding-bottom: rem(130);
  }
}

.p-top-message__content {
  display: flex;
  flex-direction: column;
  gap: rem(32);

  @include mq(md) {
    flex-direction: row;
    gap: rem(72);
  }
}

.p-top-message__body {
  color: #222;

  @include mq(md) {
    padding-top: rem(2);
  }
}

.p-top-message__en {
  font-family: "Inter", $base-font-family;
  font-weight: 600;
  line-height: 1.4;
  color: #222;
  font-size: rem(16);
  @include mq(md){
    font-size: rem(20);
    
  }
}

.p-top-message__title {
  margin-top: rem(12);
  font-size: rem(28);
  font-weight: 700;
  line-height: 1.4;
  color: #222;

  @include mq(md) {
    margin-top: rem(20);
    font-size: rem(42);
  }
}

.p-top-message__text {
  margin-top: rem(24);
  font-size: rem(14);
  font-weight: 400;
  line-height: calc(24 / 16);
  color: #222;

  @include mq(md) {
    margin-top: rem(118);
    font-size: rem(16);
    padding-left: rem(48);
  }
}

.p-top-message__text span {
  display: block;
}

.p-top-message__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: rem(55);
  margin-top: rem(34);
  padding: rem(16) rem(20);
  color: #111;
  border: 1px solid #222;
  border-radius: rem(8);

  @include mq(md) {
    margin-top: rem(34);
    max-width: rem(400);
    margin-left: rem(48);
  }
}

.p-top-message__link-text {
  position: relative;
  padding-left: rem(32);
  font-size: rem(15);
  font-weight: 700;
  line-height: 1.4;
}

.p-top-message__link-text::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: rem(12);
  height: rem(12);
  content: "";
  background-color: currentColor;
  clip-path: polygon(16% 0, 100% 0, 100% 84%, 82% 84%, 82% 31%, 12% 100%, 0 88%, 70% 18%, 16% 18%);
  transform: translateY(-50%);
}

.p-top-message__link-en {
  flex: 0 0 auto;
  margin-left: rem(16);
  font-family: "Inter", $base-font-family;
  font-size: rem(11);
  font-weight: 400;
  line-height: 1;
}

.p-top-message__image {
  position: relative;
  overflow: hidden;
  border-radius: rem(8);
  aspect-ratio: 677 / 467;
  max-width: rem(677);
  width: 100%;
}

.p-top-message__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
